<div class="dashboard">
     <div class="container-fluid">
          <div class="row">
               <div class="col-md-12">
                    <div class="title-and-action-button">
                         <div class="title">
                              <span>PRESIDENCY UNIVERSITY</span>
                         </div>
                         <div class="action-button"></div>
                    </div>
               </div>
               <div class="col-md-12">
                    <h1 class="name">STUDENTS NAME</h1>
               </div>
          </div>

          <div class="row">
               <div class="col-md-4">
                    <div class="card dashboard-card">
                         <div class="icons-and-details">
                              <div class="icon">
                                   <img src="../../../../assets/images/icons/analytics_FILL0_wght400_GRAD0_opsz24.png" alt="" />
                              </div>
                              <div class="details">
                                   <h3 class="card-title">6.8</h3>
                                   <h4 class="card-text">cgpa</h4>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="card dashboard-card">
                         <div class="icons-and-details">
                              <div class="icon">
                                   <img src="../../../../assets/images/icons/bar_chart_FILL0_wght400_GRAD0_opsz24.png" alt="" />
                              </div>
                              <div class="details">
                                   <h3 class="card-title">10</h3>
                                   <h4 class="card-text">Major credits</h4>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="card dashboard-card">
                         <div class="icons-and-details">
                              <div class="icon">
                                   <img src="../../../../assets/images/icons/school_FILL0_wght400_GRAD0_opsz24.png" alt="" />
                              </div>
                              <div class="details">
                                   <h3 class="card-title">4</h3>
                                   <h4 class="card-text">semester</h4>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
