<div class="users-container">
     <div class="container">
          <div class="row">
               <div class="col-md-12">
                    <div class="card">
                         <table>
                              <thead>
                                   <tr>
                                        <th>Roll No.</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>DOB</th>
                                        <th>Gender</th>
                                   </tr>
                              </thead>
                              <tbody>
                                   <ng-container *ngIf="users && users.length > 0">
                                        <ng-container *ngFor="let user of users">
                                             <tr>
                                                  <td>{{ user.id }}</td>
                                                  <td>{{ user.firstName }}</td>
                                                  <td>{{ user.lastName }}</td>
                                                  <td>{{ user.dob }}</td>
                                                  <td>{{ user.gender }}</td>
                                             </tr>
                                        </ng-container>
                                   </ng-container>
                              </tbody>
                         </table>
                    </div>
               </div>
          </div>
     </div>
</div>
